@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif);

html {
  font-size: 10px;
  background: url(./piano.jpg) bottom center;
  background-size: cover;}

body, html {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", Helvetica, sans-serif;
  overflow: hidden;}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(9, 140px);
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  grid-template-rows: 200px 400px;}

h1 {
  grid-column: 1 / -1;
  font-size: 5em; 
  color: #fff; 
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  margin-top: 20px;}

.key {
  border: 0.4rem solid #141414;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 2rem;
  padding: 1rem .5rem;
  transition: all .07s;
  width: 10rem;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem #141414; }

.playing {
  transform: scale(1.2);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600; }

kbd {
  display: block;
  font-size: 4rem; }

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600; }
